@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/4ctr9pi6o8mlflu8si6gdszgl62tn4zl73knhf3tkqalszsx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý bảng hướng dẫn chọn size</h6>
    </div>
    <div class="card-body">
        <div class="mb-4">
            <div class="form-group">
                <label class="mr-2">Loại sản phẩm</label>
                <div class="dropdown mb-2 mr-2">
                    <button class="btn border dropdown-toggle" type="button" data-toggle="dropdown">
                        Chọn loại sản phẩm
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu px-2" style="overflow: hidden scroll; max-height: 300px">
                        <input class="form-control mb-2" id="myInput" type="text" placeholder="Tìm..." autocomplete="off">
                        @if (Model.subCategories.Count > 0)
                        {
                            @foreach (var item in Model.subCategories)
                            {
                                @if (item.SizeGuide == null)
                                {
                                    <li>
                                        <div>
                                            <input class="mr-1 sub-select" id="sub-@item.SubCategoryId" type="checkbox" value="@item.SubCategoryId">
                                            <label for="sub-@item.SubCategoryId">@item.SubCategoryName</label>
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="size-content" rows="8" cols="50"></textarea>
            </div>
            <button class="btn btn-primary add-sizechart">Thêm</button>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered order-table" id="dataTable" width="100%"
                   cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Loại sản phẩm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.sizeGuides.Count > 0)
                    {
                        @foreach (var item in Model.sizeGuides)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>
                                    @foreach (var sub in item.subCategories)
                                    {
                                        <label class="mr-2">@sub.SubCategoryName</label>
                                    }
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-primary" href="@Url.Action("Detail","ManageSizeGuide", new { id = item.id })">Chi tiết</a>
                                    <a class="btn btn-danger" onclick="deleteSizeGuide(@item.id)">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(".add-sizechart").click(function () {
        var ids = [];
        $(".sub-select").each(function () {
            if ($(this).is(":checked")) {
                ids.push($(this).val())
            }
        })
        var request = {
            ids: ids,
            content: tinymce.get("size-content").getContent()
        }
        $.post("/ManageSizeGuide/AddSizeGuide", request)
            .then(function (res) {
                alert(res);
                window.location.reload();
            })
            .catch(function (error) {
                alert(error.responseText);
                console.log(error)
            })
    })
    function deleteSizeGuide(id) {

    }
</script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'image autolink lists media table',
        toolbar: 'addcomment showcomments code image pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".dropdown-menu li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>