@using ECommerce.Application.Constants
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/4ctr9pi6o8mlflu8si6gdszgl62tn4zl73knhf3tkqalszsx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Chi tiết Blog</h6>
    </div>
    <div class="card-body">
        <div class="form-group mb-2">
            <label class="mr-2">Cột</label>
            <select class="form-control blog-position">
                @for (int i = 1; i <= 2; i++)
                {
                    if (Model.BlogPosition == i)
                    {
                        <option value="@Model.BlogPosition" selected>@Model.BlogPosition</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>

        <div class="form-group mb-2">
            <label class="mr-2">Tiêu đề</label>
            <input class="form-control blog-title" value="@Model.BlogTitle">
        </div>

        <div class="form-group mb-2">
            <label>Nội dung</label>
            <textarea id="blog-content">@Model.BlogContent</textarea>
        </div>

        <div class="text-center mt-4 d-flex">
            <button class="btn-primary btn update-blog mr-2">Cập nhật</button>
            <button class="btn-danger btn delete-blog">Xóa</button>
        </div>
    </div>
</div>
<script>
    $('.delete-blog').click(function () {
        if (confirm("Xác nhận xóa") == true) {
            apiDeleteBlog(@Model.BlogId);
        }
    })
    $('.update-blog').click(function () {
        var request = {
            BlogId: @Model.BlogId,
            BlogTitle: $('.blog-title').val(),
            BlogContent: tinymce.get("blog-content").getContent(),
            BlogPosition: $('.blog-position').val()
        };
        apiUpdateBlog(request);
    })
    function apiDeleteBlog(BlogId) {
        PostApi("/ManageConfiguration/DeleteBlog", { BlogId: BlogId })
            .then(function (res) {
                alert(res.message);
            })
            .catch(function (error) {
                console.log(error);
                alert(error.responseJSON.message);
            });
    }
    function apiUpdateBlog(request) {
        PostApi("/ManageConfiguration/UpdateBlog", request)
            .then(function(res) {
                alert(res.message);
            })
            .catch(function(error) {
                console.log(error);
                alert(error.message);
            });
    }
</script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: '@ConfigConstant.TINY_PLUGINS',
        toolbar: '@ConfigConstant.TINY_TOOLBAR',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>