@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Quản lý tùy chọn và danh mục</h6>
        </div>
        <div class="card-body p-2">
            <form class="mx-auto">
                <div class="row">
                    <div class="col-sm-6 mb-4">
                        <div class="form-group mb-4">
                            <label>Thêm giá trị</label>
                            <div class="dropdown mb-2 mr-2">
                                <button class="btn border dropdown-toggle brand_select-text" type="button" data-toggle="dropdown">
                                    Tùy chọn
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-sub-menu px-2" style="max-height: 300px; overflow: auto;">
                                    <input class="form-control mb-2" id="myInput-sub" type="text" placeholder="Tìm..." autocomplete="off" />
                                    @foreach (var option in Model)
                                    {
                                        <li class="d-flex align-items-center">
                                            <input name="sub-opt" class="sub-opt-select mr-2" id="sub-opt-@option.id" type="checkbox" value="@option.id">
                                            <label class="mb-0" for="sub-opt-@option.id">@option.name</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="d-flex mb-2">
                                <div class="dropdown mr-2">
                                    <input class="form-control option-value" type="text">
                                </div>
                                <a class="btn btn-primary" onclick="addValue()">Thêm</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-4">
                        <div class="table-responsive">
                            <table class="table table-bordered order-table" id="dataTable" width="100%"
                                   cellspacing="0">
                                <thead>
                                    <tr>
                                        <th hidden></th>
                                        <th>#</th>
                                        <th>Tùy chọn</th>
                                        <th>Giá trị</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var option in Model)
                                    {
                                        <tr>
                                            <td hidden>@option.name</td>
                                            <td>@option.id</td>
                                            <td>
                                                <input class="form-control option-@option.id-name" type="text" value="@option.name" />
                                            </td>
                                            <td style="max-width: 300px;">
                                                <div class="form-group mb-2">
                                                    <ul class="pl-0 d-flex flex-wrap">
                                                        @foreach (var value in option.values)
                                                        {
                                                            <li class="attr optionValue-@option.id d-inline p-1 mr-2 mb-2"
                                                                value="@value.id"
                                                                style="background-color: #ddd; border-radius: 4px; white-space: nowrap;">
                                                                <span class="text">@value.value</span>
                                                                <span class="remove-tag ml-2" style="cursor: pointer;">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                                         viewBox="0 0 24 24" fill="none" stroke="#333"
                                                                         stroke-width="1" stroke-linecap="round"
                                                                         stroke-linejoin="round" class="feather feather-x">
                                                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                                                    </svg>
                                                                </span>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" onclick="updateOption(@option.id)">Cập nhật</a>
                                                <a class="btn btn-danger" onclick="deleteOption(@option.id)">Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function updateOption(id) {
        var ids = [];
        $(`.optionValue-${id}`).each(function () {
            ids.push($(this).val());
        })

        var request = {
            id: id,
            name: $(`.option-${id}-name`).val(),
            ids: ids
        }
        $.post("/ManageCategory/UpdateOptionBaseValue", request)
            .then(function (res) {
                alert(res);
                window.location.reload();
            })
            .catch(function (error) {
                console.log(error);
                alert(error.responseText);
            })
    }
    function deleteOption(id) {
        if (confirm("Xác nhận xóa")) {
            $.post("/ManageCategory/DeleteOption", { id: id })
                .then(function (res) {
                    alert(res);
                    window.location.reload();
                })
                .catch(function (error) {
                    console.log(error);
                    alert(error.responseText);
                })
        }
    }
    function addValue() {
        var ids = [];
        $('.sub-opt-select').each(function () {
            if ($(this).is(":checked")) {
                ids.push($(this).val());
            };
        })
        var request = {
            ids: ids,
            value: $('.option-value').val()
        }
        $.post("/ManageCategory/AddOptionBaseValue", request)
            .then(function (res) {
                alert(res);
                window.location.reload();
            })
            .catch(function (error) {
                console.log(error);
                alert(error.responseText);
            })
    }
</script>
<script>
    // Add tag
    //$(document).on('click', '.add-option', function () {
    //    let val = $(this).siblings('.dropdown').find('input').val();
    //    if (!val?.trim()) { return; }

    //    $(this).parent().siblings('ul').append(`
    //        <li class="d-inline p-1 mr-2 mb-2"
    //            style="background-color: #ddd; border-radius: 4px;">
    //            <span class="text">${val}</span>
    //            <span class="remove-tag ml-2" style="cursor: pointer;">
    //                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
    //                    viewBox="0 0 24 24" fill="none" stroke="#333"
    //                    stroke-width="1" stroke-linecap="round"
    //                    stroke-linejoin="round" class="feather feather-x">
    //                    <line x1="18" y1="6" x2="6" y2="18"></line>
    //                    <line x1="6" y1="6" x2="18" y2="18"></line>
    //                </svg>
    //            </span>
    //        </li>
    //    `)

    //    $(this).siblings('.dropdown').find('input').val('');
    //})
    // Remove tag
    $(document).on('click', '.remove-tag', function () {
        $(this).parent().remove();
    })
    // Search input with autocomplete
    searchInput('dropdown-sub-menu', 'myInput-sub');
    function searchInput(dropdown, input) {
        $(document).on("keyup", `#${input}`, function () {
            var value = $(this).val().toLowerCase();
            $(`.${dropdown} li label`).filter(function () {
                $(this).siblings("input").toggle($(this).text().toLowerCase().indexOf(value) > -1)
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        })
    }
</script>