@using Microsoft.Extensions.Configuration
@using ECommerce.Application.Constants
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý thương hiệu</h6>
    </div>
    <div class="card-body">
        <div class="mb-2">
            <div class="form-group">
                <input class="brand-id" type="number" hidden />
                <label>Tên thương hiệu</label>
                <input class="form-control brand-name">
            </div>
            <div class="form-group">
                <label>Mô tả thương hiệu</label>
                <textarea class="form-control" id="brand-description"></textarea>
            </div>
            <div class="form-group">
                <label class="mr-2" for="brand-highlights">Nổi bật</label>
                <input class="brand-highlights" type="checkbox">
            </div>
            <div class="form-group">
                <div class="dropdown mb-2 mr-2">
                    <button class="btn border dropdown-toggle category_select-text" type="button" data-toggle="dropdown">
                        Danh mục
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-cat-menu px-2" style="max-height: 300px; overflow: auto;">
                        <input class="form-control mb-2" id="myInput-cate" type="text" placeholder="Tìm..." autocomplete="off" />
                        @foreach (var category in Model.listCategory)
                        {
                            <li class="d-flex align-items-center" value="@category.CategoryName">
                                <input name="category" class="add-brand_category mr-2" id="category_@category.CategoryId" type="checkbox" value="@category.CategoryId">
                                <label class="mb-0" for="category_@category.CategoryId">@category.CategoryName</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label>Ảnh thương hiệu</label>
                <div class="border" style="height: 100px; width: 100px;">
                    <!-- remove icon -->
                    <label class="remove-wrapper mb-0 w-100 h-100 d-flex align-items-center justify-content-center"
                           for="pic-size" style="cursor: pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24" fill="none"
                             stroke="#ddd" stroke-width="1" stroke-linecap="round"
                             stroke-linejoin="round"
                             class="feather feather-plus-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="8" x2="12" y2="16"></line>
                            <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                    </label>
                    <!-- Image wrapper and choosing -->
                    <div class="image-wrapper w-100 h-100 position-relative d-none align-items-center justify-content-center">
                        <img class="mw-100 mh-100 brand-img"
                             src="" alt="">
                        <span class="position-absolute remove-upload"
                              style="right: 0; top: 0; cursor: pointer;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                 height="18" viewBox="0 0 24 24" fill="none"
                                 stroke="red" stroke-width="1" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </span>
                    </div>
                    <input type="file" class="form-control-file image-uploaded" id="pic-size" hidden>
                </div>
            </div>
            <button class="btn btn-primary brand-saveChanges">Thêm mới</button>
        </div>
        <div class="d-flex align-items-center flex-wrap mb-2">
            <div class="mr-4">
                <input type="checkbox" name="select-all" id="select-all">
                <label class="mb-0" for="select-all">Chọn tất cả</label>
            </div>
            <div class="select-actions d-flex align-items-center" style="height: 40px;">

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered order-table" id="dataTable" width="100%"
                   cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ảnh</th>
                        <th>Thương hiệu</th>
                        <th>Danh mục</th>
                        <th class="text-center">Nổi bật</th>
                        <th class="text-center">Trạng thái</th>
                        <th style="max-width: 200px; width: 100%">Cửa hàng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listBrand)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" class="mr-1 select-product" id="product-@item.BrandId" value="@item.BrandId" style="cursor: pointer;" />
                            </td>
                            <td style="max-width: 300px;">
                                <div class="border" style="height: 100px; width: 100px;">
                                    <!-- remove icon -->
                                    <label class="remove-wrapper mb-0 w-100 h-100 d-none align-items-center justify-content-center"
                                           for="pic-size-@item.BrandId" style="cursor: pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                             height="24" viewBox="0 0 24 24" fill="none"
                                             stroke="#ddd" stroke-width="1" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="feather feather-plus-circle">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" y1="8" x2="12" y2="16"></line>
                                            <line x1="8" y1="12" x2="16" y2="12"></line>
                                        </svg>
                                    </label>
                                    <!-- Image wrapper and choosing -->
                                    <div class="image-wrapper w-100 h-100 position-relative d-flex align-items-center justify-content-center">
                                        <img class="mw-100 mh-100 brand-img"
                                             src="@Configuration["ImagePath:Brand"]@item.BrandImagePath" alt="">
                                        <span class="position-absolute remove-upload"
                                              style="right: 0; top: 0; cursor: pointer;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                 height="18" viewBox="0 0 24 24" fill="none"
                                                 stroke="red" stroke-width="1" stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-x">
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
                                        </span>
                                    </div>
                                    <input type="file" class="form-control-file image-uploaded image-uploaded-@item.BrandId" id="pic-size-@item.BrandId" hidden>
                                </div>
                            </td>
                            <td>
                                <input class="form-control brand-name-@item.BrandId" type="text" name="name" value="@item.BrandName" />
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="dropdown mb-2 mr-2">
                                        <button class="btn border dropdown-toggle category_select-text" type="button" data-toggle="dropdown">
                                            Danh mục
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-cat-menu px-2" style="max-height: 300px; overflow: auto;">
                                            <input class="form-control mb-2" id="myInput-cate" type="text" placeholder="Tìm..." autocomplete="off" />
                                            @foreach (var category in Model.listCategory)
                                            {
                                                <li class="d-flex align-items-center" value="@category.CategoryName">
                                                    @if (item.CategoryIds.Contains(category.CategoryId))
                                                    {
                                                        <input name="category" class="category_select_@item.BrandId mr-2" id="category_@category.CategoryId" type="checkbox" value="@category.CategoryId" checked>
                                                    }
                                                    else
                                                    {
                                                        <input name="category" class="category_select_@item.BrandId mr-2" id="category_@category.CategoryId" type="checkbox" value="@category.CategoryId">

                                                    }
                                                    <label class="mb-0" for="category_@category.CategoryId">@category.CategoryName</label>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                @if (item.Highlights == true)
                                {
                                    <input class="brand-highlight-@item.BrandId" type="checkbox" onclick="updateBrand(@item.BrandId)" checked />
                                }
                                else
                                {
                                    <input class="brand-highlight-@item.BrandId" type="checkbox" onclick="updateBrand(@item.BrandId)" />
                                }
                            </td>
                            <td class="text-center">
                                @if (item.Status == true)
                                {
                                    <input class="brand-status-@item.BrandId" type="checkbox" onclick="updateBrand(@item.BrandId)" checked />
                                }
                                else
                                {
                                    <input class="brand-status-@item.BrandId" type="checkbox" onclick="updateBrand(@item.BrandId)" />
                                }
                            </td>
                            <td>
                                <div class="d-flex flex-wrap">
                                    @if (item.Shops.Count > 0)
                                    {
                                        @foreach (var shop in item.Shops)
                                        {
                                            <a class="mr-2 @if (shop.status == 0) { @Html.Raw("text-danger"); }" href="@Url.Action("ShopDetail","ManageShop", new { ShopId = shop.id})">@shop.name</a>
                                        }
                                    }
                                </div>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-primary brand-update" value="@item.BrandId" onclick="updateBrand(@item.BrandId)">Cập nhật</a>
                                <a class="btn border">Chỉnh sửa mô tả</a>
                                <a class="btn btn-danger" onclick="deleteBrand(@item.BrandId)">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add or Update brand -->
<script>
    $('.brand-saveChanges').click(function () {
        var id = $('.brand-id').val();
        var name = $('.brand-name').val();
        var file = $('.image-uploaded').prop('files')[0];
        var highlight = $('.brand-highlights').is(":checked") ? true : false;

        // data
        var formData = new FormData();
        formData.append('ImagePath', file);
        formData.append('BrandName', name);
        formData.append('Highlights', highlight);

        // Add new brand
        if (!id) {
            // for add 
            $(`.add-brand_category`).each(function () {
                if ($(this).is(":checked")) {
                    formData.append('CategoryIds', Number($(this).val()));
                }
            })

            $.ajax({
                type: "POST",
                url: "/ManageBrand/AddBrand",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert(response);
                    location.reload();
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
        }
        // Update brand with id
        else {
            formData.append('BrandId', id);
            $.ajax({
                type: "POST",
                url: "/ManageBrand/UpdateBrand",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert(response);
                    location.reload();
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
        }
    })
    $('.brand-detail').click(function () {
        $.get('/api/ManageBrandAPI/getBrandById', { id: $(this).attr('value') })
            .then(function (response) {
                $('.brand-id').val(response.brandId);
                $('.brand-name').val(response.brandName);
                $(`.brand-category`).val(response.categoryId);
                // img
                $('.image-wrapper').removeClass('d-none');
                $('.image-wrapper').addClass('d-flex');

                $('.remove-wrapper').removeClass('d-flex');
                $('.remove-wrapper').addClass('d-none');
                $('.brand-img').attr('src', `@Configuration["ImagePath:Brand"]${response.brandImagePath}`);
            })
            .catch(function (error) {
                alert(error.responseText)
            })
    })

    function updateBrand(id) {
        var name = $(`.brand-name-${id}`).val();
        var file = $(`.image-uploaded-${id}`).prop('files')[0];
        var hightlight = $(`.brand-highlight-${id}`).is(":checked") ? true : false;
        var status = $(`.brand-status-${id}`).is(":checked") ? true : false;

        var formData = new FormData();
        formData.append('ImagePath', file);
        formData.append('BrandName', name);
        $(`.category_select_${id}`).each(function () {
            if ($(this).is(":checked")) {
                formData.append('CategoryIds', Number($(this).val()));
            }
        })
        formData.append('Highlights', hightlight);
        formData.append('Status', status);
        formData.append('BrandId', id);

        $.ajax({
            type: "POST",
            url: "/ManageBrand/UpdateBrand",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                nSuccess('Cập nhật thành công');
            },
            error: function (error) {
                console.log(error);
                nError(error);
            }
        });
    }
    function updateStatus(id, status) {
        //$.post('/ManageBrand/UpdateStatus', { id: id, status: status })
        //    .then(function (response) {
        //        alert(response);
        //        location.reload();
        //    })
        //    .catch(function (error) {
        //        alert(error.responseText);
        //    })
        PostApi('/ManageBrand/UpdateStatus', { id: id, status: status })
            .then(function (response) {
                alert(response);
                location.reload();
            })
    }
    function deleteBrand(id) {
        if (confirm("Xác nhận xóa")) {
            //$.post('/ManageBrand/DeleteBrand', { id: id })
            //    .then(function (response) {
            //        alert(response);
            //        location.reload();
            //    })
            //    .catch(function (error) {
            //        alert(error.responseText);
            //    })
            PostApi('/ManageBrand/DeleteBrand', { id: id })
                .then(function (response) {
                    alert(response);
                    location.reload();
                })
        }
    }

    $(document).on('click', '.delete-brands', function () {
        if (confirm("Xác nhận xóa") == true) {
            let ids = [];
            $('.select-product').each(function () {
                if ($(this).is(":checked")) {
                    let id = $(this).val();
                    ids.push(id);
                }
            });
            //$.post("/ManageBrand/DeleteBrands", { ids: ids })
            //    .then(function (response) {
            //        alert(response);
            //        location.reload();
            //    })
            //    .catch(function (error) {
            //        console.log(error);
            //        alert(error.responseText);
            //    })
            PostApi("/ManageBrand/DeleteBrands", { ids: ids })
                .then(function (response) {
                    nSuccess(response);
                    location.reload();
                })
        }
    })

    $(document).on('click', '.show-brands', function () {
        if (confirm("Xác nhận cập nhật") == true) {
            let ids = [];
            $('.select-product').each(function () {
                if ($(this).is(":checked")) {
                    let id = $(this).val();
                    ids.push(id);
                }
            });
            //$.post("/ManageBrand/UpdateBrandsStatus", { ids: ids, status: true })
            //    .then(function (response) {
            //        alert(response);
            //        location.reload();
            //    })
            //    .catch(function (error) {
            //        console.log(error);
            //        alert(error.responseText);
            //    })
            PostApi("/ManageBrand/UpdateBrandsStatus", { ids: ids, status: true })
                .then(function (response) {
                    nSuccess(response);
                    location.reload();
                })
        }
    })

    $(document).on('click', '.hide-brands', function () {
        if (confirm("Xác nhận cập nhật") == true) {
            let ids = [];
            $('.select-product').each(function () {
                if ($(this).is(":checked")) {
                    let id = $(this).val();
                    ids.push(id);
                }
            });
            //$.post("/ManageBrand/UpdateBrandsStatus", { ids: ids, status: false })
            //    .then(function (response) {
            //        alert(response);
            //        location.reload();
            //    })
            //    .catch(function (error) {
            //        console.log(error);
            //        alert(error.responseText);
            //    })
            PostApi("/ManageBrand/UpdateBrandsStatus", { ids: ids, status: false })
                .then(function (response) {
                    nSuccess(response);
                    location.reload();
                })
        }
    })

</script>
<script>
    $(document).ready(function () {
        $('#select-all').click(function () {
            if ($('#select-all').is(":checked")) {
                $('.select-product').prop('checked', true);
                setAction();
                return;
            }
            $('.select-actions').html(``);
            $('.select-product').prop('checked', false);
        })

        $('.select-product').click(function () {
            $('#select-all').prop('checked', false);
            setAction();
        })

        function setAction() {
            let count = 0;
            $('.select-product').each(function (index) {
                if ($(this).is(":checked")) {
                    count++;
                }
            })
            $('.select-actions').html(`
                <div class="mr-2">
                    <span class="products-selected"><strong>${count}</strong></span>
                    <span>Đã chọn</span>
                </div>
                <a class="mr-2 btn btn-primary show-brands">Hiện</a>
                <a class="mr-2 btn btn-secondary hide-brands">Ẩn</a>
                <a class="mr-2 btn btn-danger delete-brands">Xóa</a>
            `);
            if (count == 0) {
                $('.select-actions').html(``);
            }
            if (count == $('.select-product').length) {
                $('#select-all').prop('checked', true);
            }
        }
    });
</script>
<script type="text/javascript">
    $('.image-uploaded').change(function () {
        // Set image src
        let src = window.URL.createObjectURL(this.files[0]);
        $(this).siblings('.image-wrapper').children('img').attr('src', src);

        // hide label
        $(this).siblings('label').removeClass('d-flex');
        $(this).siblings('label').addClass('d-none');
        // display image
        $(this).siblings('.image-wrapper').removeClass('d-none');
        $(this).siblings('.image-wrapper').addClass('d-flex');
    })
    $('.remove-upload').click(function () {
        // Remove Image
        $(this).siblings('img').attr('src', '');

        // Hide image wrapper
        $(this).parent().removeClass('d-flex');
        $(this).parent().addClass('d-none');
        // Display label
        $(this).parent().siblings('label').removeClass('d-none');
        $(this).parent().siblings('label').addClass('d-flex');

        // Empty input value 
        $('.image-uploaded').val(null);
    })
    $('.form-check-input').change(function () {
        $('.form-check-input').siblings('input').addClass('d-none');
        if ($(this).is(':checked')) {
            $(this).siblings('input').removeClass('d-none');
        }
    })
</script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: '@ConfigConstant.TINY_PLUGINS',
        toolbar: '@ConfigConstant.TINY_TOOLBAR',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>