@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lợi nhuận sản phẩm</h6>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center flex-wrap mb-2">
            <div class="mr-4">
                <input type="checkbox" name="select-all" id="select-all">
                <label class="mb-0" for="select-all">Chọn tất cả</label>
            </div>
            <div class="select-actions d-flex align-items-center" style="height: 40px;">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered order-table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th>Mã tự động</th>
                        <th>Mã sản phẩm</th>
                        <th>Sản phẩm</th>
                        <th>Shop</th>
                        <th>Giá có sẵn</th>
                        <th>Giá đặt trước</th>
                        <th>Giá cho Seller</th>
                        <th>Giá nhập hàng</th>
                        <th>Loại sản phẩm</th>
                        <th>Danh mục</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in ViewBag.products)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" class="mr-1 select-product" id="product-@product.ProductId" value="@product.ProductId" style="cursor: pointer;">
                                @*<label class="mb-0" for="product-@product.ProductId" style="cursor: pointer;">@product.ProductId</label>*@
                            </td>
                            <td>
                                <a href="@Url.Action("ProductDetail", "ManageProduct", new { productId = product.ProductId, shopId = product.ShopId, brandId = product.BrandId})" class="mr-2">@product.PPC</a>
                            </td>
                            <td>@product.ProductCode</td>
                            <td>
                                <div class="d-flex align-items-center justify-content-between"
                                 style="height: 80px; width: 80px;">
                                    <img class="w-auto h-100"
                                     src="@(Configuration["ImagePath:Product"] + product.ProductImages)" alt="">
                                </div>
                                <div>@product.ProductName</div>
                                <div>@product.BrandName</div>
                            </td>
                            <td>@product.ShopName</td>
                            <td>
                                @String.Format("{0:0,0} ₫", product.PriceAvailable ?? 0)
                                <div class="font-weight-bold">Lãi: @String.Format("{0:0,0} ₫", product.ProfitAvailable ?? 0)</div>
                            </td>
                            <td>
                                @String.Format("{0:0,0} ₫", product.PricePreOrder ?? 0)
                                <div class="font-weight-bold">Lãi: @String.Format("{0:0,0} ₫", product.ProfitPreOrder ?? 0)</div>
                            </td>
                            <td>
                                @String.Format("{0:0,0} ₫", product.PriceForSeller ?? 0)
                                <div class="font-weight-bold">Lãi: @String.Format("{0:0,0} ₫", product.ProfitForSeller ?? 0)</div>
                            </td>
                            <td>@String.Format("{0:0,0} ₫", product.PriceImport ?? 0)</td>
                            <td>@product.SubCategoryName</td>
                            <td>@product.CategoryName</td>
                            <td class="text-center">
                                <button class="btn btn-danger" onclick="deleteProduct(@product.ProductId)">Xóa</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#select-all').click(function () {
            if ($('#select-all').is(":checked")) {
                $('.select-product').prop('checked', true);
                setAction();
                return;
            }
            $('.select-actions').html(``);
            $('.select-product').prop('checked', false);
        })

        $('.select-product').click(function () {
            $('#select-all').prop('checked', false);
            setAction();
        })

        function setAction() {
            let count = 0;
            $('.select-product').each(function (index) {
                if ($(this).is(":checked")) {
                    count++;
                }
            })
            $('.select-actions').html(`
                    <div class="mr-2">
                        <span class="products-selected"><strong>${count}</strong></span>
                        <span>Sản phẩm đã chọn</span>
                    </div>
                    <a class="mr-2 btn btn-primary approve-product">Hiện</a>
                    <a class="mr-2 btn btn-secondary hide-product">Ẩn</a>
                    <a class="mr-2 btn btn-danger delete-product">Xóa</a>
                `);
            if (count == 0) {
                $('.select-actions').html(``);
            }
            if (count == $('.select-product').length) {
                $('#select-all').prop('checked', true);
            }
        }
    });
</script>
<script>
    $(document).on('change', '.get-products', function () {
        var req = `?subCategoryId=${$(this).val()}`;
        if ($(this).val() == 'all') req = '';
        window.location = `/ManageProduct/ProductList${req}`;
    })
    $(document).on('click', '.hide-product', function () {
        if (confirm("Xác nhận cập nhật") == true) {
            let ids = [];
            $('.select-product').each(function () {
                if ($(this).is(":checked")) {
                    let id = $(this).val();
                    ids.push(id);
                }
            });
            PostApi("/SaleProduct/DisableProducts", { ids: ids })
                .then(function (response) {
                    alert(response);
                    location.reload();
                })
        }
    })
    $(document).on('click', '.approve-product', function () {
        if (confirm("Xác nhận cập nhật") == true) {
            let ids = [];
            $('.select-product').each(function () {
                if ($(this).is(":checked")) {
                    let id = $(this).val();
                    ids.push(id);
                }
            });
            PostApi("/SaleProduct/ApproveProducts", { ids: ids })
                .then(function (response) {
                    alert(response);
                    location.reload();
                })
        }
    })
    $(document).on('click', '.delete-product', function () {
        if (confirm("Xác nhận xóa") == true) {
            let ids = [];
            $('.select-product').each(function () {
                if ($(this).is(":checked")) {
                    let id = $(this).val();
                    ids.push(id);
                }
            });
            PostApi("/SaleProduct/DeleteProducts", { ids: ids })
                .then(function (response) {
                    alert(response);
                    location.reload();
                })
        }
    })

    function deleteProduct(id) {
        if (confirm("Xác nhận xóa") == true) {
            PostApi("/SaleProduct/DeleteProduct", { id: id })
                .then(function (response) {
                    alert(response);
                    location.reload();
                })
        }
    }

</script>