@using Microsoft.Extensions.Configuration
@using ECommerce.Application.Constants
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Chi tiết sản phẩm</h6>
        </div>
        <div class="card-body p-2">
            <form class="mx-auto">
                <div class="row">
                    <div class="col-sm-6 mb-4">
                        <div class="text-left mb-2 text-primary"><strong>Thông tin cơ bản</strong></div>
                        <!-- PPC -->
                        <div class="form-group mb-4">
                            <label>Mã tự động</label>
                            <input type="text" class="form-control" value="@Model.product.PPC" disabled>
                        </div>
                        <!-- Mã -->
                        <div class="form-group mb-4">
                            <label>Mã sản phẩm</label>
                            <input type="text" class="form-control pro-code" value="@Model.product.ProductCode">
                        </div>
                        <!-- Name -->
                        <div class="form-group mb-4">
                            <label>Tên sản phẩm</label>
                            <input type="text" class="form-control pro-name" value="@Model.product.ProductName">
                        </div>
                        <!-- Stock -->
                        <div class="form-group mb-4">
                            <label>Số lượng trong kho</label>
                            <input type="number" class="form-control pro-stock" value="@Model.product.Stock">
                        </div>
                        <!-- Price -->
                        <div class="form-group mb-4">
                            <label>Hàng có sẵn</label>
                            <div class="d-flex align-items-center">
                                @foreach (var price in Model.product.Prices)
                                {
                                    @if (price.ProductTypeId == 1 && price.Price != null)
                                    {
                                        <input type="text" class="form-control pro-priceavailable" value="@price.Price.ToString("#,##")" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="1">
                                    }
                                    else if (price.ProductTypeId == 1 && price.Price == null)
                                    {
                                        <input type="text" class="form-control pro-priceavailable" value="" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="1">
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label>Hàng đặt trước</label>
                            <div class="d-flex align-items-center">
                                @foreach (var price in Model.product.Prices)
                                {
                                    @if (price.ProductTypeId == 2 && price.Price != null)
                                    {
                                        <input type="text" class="form-control pro-pricepreorder" value="@price.Price.ToString("#,##")" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="1">
                                    }
                                    else if (price.ProductTypeId == 2 && price.Price == null)
                                    {
                                        <input type="text" class="form-control pro-pricepreorder" value="" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="1">
                                    }
                                }
                            </div>
                        </div>
                        <!-- Discount -->
                        <div class="form-group mb-4">
                            <label>Giảm giá</label>
                            <div class="form-check mb-4">
                                <input class="form-check-input pro-discpercent-select" type="radio" name="flexRadioDefault" id="flexRadioDefault1" @if (Model.product.DiscountPercent != null) { @Html.Raw("checked") ; }>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Giảm theo %
                                </label>
                                @if (Model.product.DiscountPercent != null)
                                {
                                    <input type="number" class="form-control mb-2 pro-discpercent" placeholder="% giảm" value="@Model.product.DiscountPercent" min="0" max="100">
                                }
                                else
                                {
                                    <input type="number" class="form-control mb-2 d-none pro-discpercent" placeholder="% giảm" value="" min="0" max="100">
                                }
                            </div>
                            <div class="form-check mb-4">
                                @{
                                    var isChecked = false;
                                    var hasPriceOnSell1 = false;
                                    var hasPriceOnSell2 = false;

                                    foreach (var price in Model.product.Prices)
                                    {
                                        if (price.ProductTypeId == 1 && price.PriceOnSell != null)
                                        {
                                            hasPriceOnSell1 = true;
                                        }
                                        if (price.ProductTypeId == 2 && price.PriceOnSell != null)
                                        {
                                            hasPriceOnSell2 = true;
                                        }
                                    }
                                    isChecked = Model.product.DiscountPercent == null && (hasPriceOnSell1 || hasPriceOnSell2);
                                }
                                <input class="form-check-input pro-disc-select" type="radio" name="flexRadioDefault" id="flexRadioDefault2" @if (isChecked) { @Html.Raw("checked") ; }>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Giảm theo giá
                                </label>
                                @foreach (var price in Model.product.Prices)
                                {
                                    @if (price.ProductTypeId == 1 && price.PriceOnSell != null)
                                    {
                                        <input type="text" class="form-control mb-2 pro-discavailable @if (!isChecked) { @Html.Raw("d-none"); }" placeholder="Giá đã giảm có sẵn" value="@if (Model.product.DiscountPercent == null) { @price.PriceOnSell.ToString("#,##"); }" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="1">
                                    }
                                    @if (price.ProductTypeId == 1 && price.PriceOnSell == null)
                                    {
                                        <input type="text" class="form-control mb-2 pro-discavailable @if (!isChecked) { @Html.Raw("d-none"); }" placeholder="Giá đã giảm có sẵn" value="" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="1">
                                    }
                                }
                                @foreach (var price in Model.product.Prices)
                                {
                                    @if (price.ProductTypeId == 2 && price.PriceOnSell != null)
                                    {
                                        <input type="text" class="form-control mb-2 pro-discpreorder @if (!isChecked) { @Html.Raw("d-none"); }" placeholder="Giá đã giảm đặt trước" value="@if (Model.product.DiscountPercent == null) { @price.PriceOnSell.ToString("#,##"); }" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="2">
                                    }
                                    @if (price.ProductTypeId == 2 && price.PriceOnSell == null)
                                    {
                                        <input type="text" class="form-control mb-2 pro-discpreorder @if (!isChecked) { @Html.Raw("d-none"); }" placeholder="Giá đã giảm đặt trước" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" data-type="currency" id="2">
                                    }
                                }
                            </div>
                        </div>
                        <!-- New -->
                        <div class="form-group mb-4">
                            <div class="d-flex align-items-center">
                                @if (Model.product.New)
                                {
                                    <input type="checkbox" class="pro-new mr-2" id="new" checked>
                                }
                                else
                                {
                                    <input type="checkbox" class="pro-new mr-2" id="new">
                                }
                                <label class="mb-0" for="new">Mới</label>
                            </div>
                        </div>
                        <!-- Highlight -->
                        <div class="form-group mb-4">
                            <div class="d-flex align-items-center">
                                @if (Model.product.Highlight)
                                {
                                    <input type="checkbox" class="pro-highlight mr-2" id="highlight" checked>
                                }
                                else
                                {
                                    <input type="checkbox" class="pro-highlight mr-2" id="highlight">

                                }
                                <label class="mb-0" for="highlight">Nổi bật</label>
                            </div>
                        </div>
                        <!-- Legit -->
                        <div class="form-group mb-4">
                            <div class="d-flex align-items-center">
                                @if (Model.product.Legit)
                                {
                                    <input type="checkbox" class="pro-legit mr-2" id="legit" checked>
                                }
                                else
                                {
                                    <input type="checkbox" class="pro-legit mr-2" id="legit">
                                }
                                <label class="mb-0" for="legit">Sản phẩm chính hãng</label>
                            </div>
                        </div>
                        <!-- Free return -->
                        <div class="form-group mb-4">
                            <div class="d-flex align-items-center">
                                @if (Model.product.FreeReturn)
                                {
                                    <input type="checkbox" class="pro-freereturn mr-2" id="return" checked>
                                }
                                else
                                {
                                    <input type="checkbox" class="pro-freereturn mr-2" id="return">
                                }
                                <label class="mb-0" for="delivery">Đổi trả miễn phí</label>
                            </div>
                        </div>
                        <!-- Free delivery -->
                        <div class="form-group mb-4">
                            <div class="d-flex align-items-center">
                                @if (Model.product.FreeDelivery)
                                {
                                    <input type="checkbox" class="pro-freedelivery mr-2" id="delivery" checked>
                                }
                                else
                                {
                                    <input type="checkbox" class="pro-freedelivery mr-2" id="delivery">
                                }
                                <label class="mb-0" for="return">Miễn phí giao hàng</label>
                            </div>
                        </div>
                        <!-- Insurance -->
                        <div class="form-group mb-4">
                            <label>Bảo hành</label>
                            <div class="d-flex align-items-center">
                                <input type="text" class="form-control pro-insurance" value="@Model.product.Insurance">
                            </div>
                        </div>
                        <!-- Shop -->
                        <div class="form-group mb-4">
                            <label>Cửa hàng</label>
                            <div class="dropdown mb-2 mr-2">
                                <button class="btn border dropdown-toggle shop_select-text" type="button" data-toggle="dropdown">
                                    @foreach (var item in Model.shops)
                                    {
                                        @if (item.ShopId == Model.product.ShopId)
                                        {
                                            @Html.Raw(item.ShopName)
                                        }
                                    }
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-sh-menu px-2" style="max-height: 300px; overflow: auto;">
                                    <input class="form-control mb-2" id="myInput-sh" type="text" placeholder="Tìm cửa hàng..." autocomplete="off" />
                                    @foreach (var item in Model.shops)
                                    {
                                        <li class="d-flex align-items-center">
                                            @if (item.ShopId == Model.product.ShopId)
                                            {
                                                <input name="shop" class="shop_select mr-2" id="sh_@item.ShopId" type="radio" value="@item.ShopId" checked>
                                            }
                                            else
                                            {
                                                <input name="shop" class="shop_select mr-2" id="sh_@item.ShopId" type="radio" value="@item.ShopId">
                                            }
                                            <label class="mb-0" for="sh_@item.ShopId">@item.ShopName</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- Brand data -->
                        <div class="form-group mb-4 brand-form">
                            <label>Thương hiệu</label>
                            <div class="dropdown mb-2 mr-2">
                                <button class="btn border dropdown-toggle brand_select-text" type="button" data-toggle="dropdown">
                                    @foreach (var item in Model.brands)
                                    {
                                        @if (item.BrandId == Model.product.BrandId)
                                        {
                                            @Html.Raw(item.BrandName)
                                        }
                                    }
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-br-menu px-2" style="max-height: 300px; overflow: auto;">
                                    <input class="form-control mb-2" id="myInput-br" type="text" placeholder="Tìm..." autocomplete="off" />
                                    @foreach (var item in Model.brands)
                                    {
                                        <li class="d-flex align-items-center">
                                            @if (item.BrandId == Model.product.BrandId)
                                            {
                                                <input name="brand" class="brand_select mr-2" id="br_@item.BrandId" type="radio" value="@item.BrandId" checked>
                                            }
                                            else
                                            {
                                                <input name="brand" class="brand_select mr-2" id="br_@item.BrandId" type="radio" value="@item.BrandId">
                                            }
                                            <label class="mb-0" for="br_@item.BrandId">@item.BrandName</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- SubCategory data -->
                        <div class="form-group subcategory-form">
                            <label>Loại sản phẩm</label>
                            <div class="dropdown mb-2 mr-2">
                                <button class="btn border dropdown-toggle subcategory_select-text" type="button" data-toggle="dropdown">
                                    @foreach (var item in Model.subCategories)
                                    {
                                        @if (item.SubCategoryId == Model.product.SubCategoryId)
                                        {
                                            @Html.Raw(item.SubCategoryName)
                                        }
                                    }
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-sub-menu px-2" style="max-height: 300px; overflow: auto;">
                                    <input class="form-control mb-2" id="myInput-sub" type="text" placeholder="Tìm..." autocomplete="off" />
                                    @foreach (var item in Model.subCategories)
                                    {
                                        <li class="d-flex align-items-center">
                                            @if (item.SubCategoryId == Model.product.SubCategoryId)
                                            {
                                                <input name="subCategory" class="sub_select mr-2" id="sub_@item.SubCategoryId" type="radio" value="@item.SubCategoryId" checked>
                                            }
                                            else
                                            {
                                                <input name="subCategory" class="sub_select mr-2" id="sub_@item.SubCategoryId" type="radio" value="@item.SubCategoryId">
                                            }
                                            <label class="mb-0" for="sub_@item.SubCategoryId">@item.SubCategoryName</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <!-- Attribute -->
                        <div class="attribute-form">
                            @if (Model.product.Attributes.Count > 0)
                            {
                                <div class="text-left mb-2 text-primary"><strong>Thông tin chi tiết</strong></div>
                                <div class="d-flex flex-wrap attribute-list">
                                    @foreach (var attr in Model.product.Attributes)
                                    {
                                        <div class="form-group mr-2">
                                            <label>@attr.AttrName</label>
                                            <input type="text" class="form-control attribute-values" id="@attr.Id" value="@attr.Value">
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <!-- Option -->
                        <div class="option-form">
                            @if (Model.product.Options.Count > 0)
                            {
                                <div class="text-left mb-2 text-primary"><strong>Thông tin tùy chọn</strong></div>
                                <div class="d-flex flex-wrap option-list">
                                    @foreach (var option in Model.product.Options)
                                    {
                                        <div class="form-group mr-4 mb-2">
                                            <label>@option.name</label>
                                            <div class="d-flex mb-2">
                                                <div class="dropdown mr-2">
                                                    <input class="form-control" type="text">
                                                </div>
                                                <a class="add-option btn btn-primary">Thêm</a>
                                            </div>
                                            <ul class="pl-0 option-values" id="@option.id">
                                                @if (option.values != null)
                                                {
                                                    @foreach (var value in option.values)
                                                    {
                                                        <li class="d-inline p-1 mr-2 mb-2"
                                                            style="background-color: #ddd; border-radius: 4px;">
                                                            <span class="text" id="@value.id">@value.value</span>
                                                            <span class="remove-tag ml-2" style="cursor: pointer;">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                                     viewBox="0 0 24 24" fill="none" stroke="#333"
                                                                     stroke-width="1" stroke-linecap="round"
                                                                     stroke-linejoin="round" class="feather feather-x">
                                                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                                                </svg>
                                                            </span>
                                                        </li>
                                                    }
                                                }

                                            </ul>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12 mb-4">
                        <!-- Description Desktop -->
                        <div class="text-left mb-2 text-primary"><strong>Mô tả</strong></div>
                        <div class="form-group mb-4">
                            <textarea class="form-control" id="product-desciptions" rows="8"
                                      cols="50">@Model.product.ProductDescription</textarea>
                        </div>
                        <!-- Description Mobile -->
@*                        <div class="text-left mb-2 text-primary"><strong>Mô tả cho điện thoại (rộng: 300px)</strong></div>
                        <div class="form-group mb-4">
                            <textarea class="form-control" id="product-desciptions-mobile" rows="8"
                                      cols="50">@Model.product.ProductDescriptionMobile</textarea>
                        </div>*@
                        <!-- Size Guide -->
                        <div class="text-left mb-2 text-primary">
                            <strong>Hướng dẫn chọn size</strong>
                            <div class="form-group">
                                <div class="dropdown mb-2 mr-2">
                                    <button class="btn border dropdown-toggle size_select-text" type="button" data-toggle="dropdown">
                                        Chọn size theo loại
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-size-menu px-2" style="max-height: 300px; overflow: auto;">
                                        <input class="form-control mb-2" id="myInput-size" type="text" placeholder="Tìm..." autocomplete="off" />
                                        @foreach (var item in Model.subSizes)
                                        {
                                            @if (item.SizeGuide != null)
                                            {
                                                <li class="d-flex align-items-center" value="@item.SubCategoryId">
                                                    <input name="size" class="size_select mr-2" id="size_@item.SubCategoryId" type="radio" value="@item.SubCategoryId" onclick="getSize(@item.SubCategoryId)">
                                                    <label class="mb-0" for="size_@item.SubCategoryId">@item.SubCategoryName</label>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <textarea class="form-control" id="product-sizeguide" rows="8"
                                      cols="50">@Model.product.SizeGuide</textarea>
                        </div>
                        <!-- System's images -->
                        <div class="mb-2 text-primary"><strong>Ảnh sản phẩm</strong></div>
                        <div class="form-group mb-4">
                            <label for="imageProduct-upload" class="input-tile mb-2">
                                <div class="d-flex">
                                    <a class="upload mr-2">Chọn ảnh</a>
                                    <div>(*Tối đa 10, tối thiểu 1)</div>
                                </div>
                            </label>
                            <input id="imageProduct-upload" type="file" multiple hidden />
                            <output class="d-flex flex-wrap" id="imageProduct-preview">
                                @if (Model.product.SystemImages.Count > 0)
                                {
                                    @foreach (var image in Model.product.SystemImages)
                                    {
                                        <div class="image__upload-item mr-2">
                                            <div class="border mb-2 mx-auto" style="height: 100px; width: 100px;">
                                                <div class="image-wrapper w-100 h-100 position-relative d-flex align-items-center justify-content-center">
                                                    <img class="mw-100 mh-100" src="@(Configuration["ImagePath:Product"] + image.ProductImagePath)" alt="@image.ProductImagePath">
                                                    <span class="position-absolute remove-upload"
                                                          style="right: 0; top: 0; cursor: pointer;"
                                                          id="sys-image-@image.ProductImageId"
                                                          onclick="deleteProductImage(this,@image.ProductImageId)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                             height="18" viewBox="0 0 24 24" fill="none"
                                                             stroke="red" stroke-width="1" stroke-linecap="round"
                                                             stroke-linejoin="round" class="feather feather-x">
                                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </output>
                        </div>
                        <!-- User's images -->
                        <div class="mb-2 text-primary"><strong>Ảnh thực tế</strong></div>
                        <div class="form-group mb-4">
                            <label for="imageUser-upload" class="input-tile mb-2">
                                <div class="d-flex">
                                    <a class="upload mr-2">Chọn ảnh</a>
                                    <div>(Tối đa 10, nếu có)</div>
                                </div>
                            </label>
                            <input id="imageUser-upload" type="file" multiple hidden />
                            <output class="d-flex flex-wrap" id="imageUser-preview">
                                @if (Model.product.UserImages.Count > 0)
                                {
                                    @foreach (var image in Model.product.UserImages)
                                    {
                                        <div class="image__upload-item mr-2">
                                            <div class="border mb-2 mx-auto" style="height: 100px; width: 100px;">
                                                <div class="image-wrapper w-100 h-100 position-relative d-flex align-items-center justify-content-center">
                                                    <img class="mw-100 mh-100" src="@(Configuration["ImagePath:Product"] + image.ProductUserImagePath)" alt="@image.ProductUserImagePath">
                                                    <span class="position-absolute remove-upload"
                                                          style="right: 0; top: 0; cursor: pointer;"
                                                          id="user-image-@image.ProductUserImageId"
                                                          onclick="deleteProductUserImage(this,@image.ProductUserImageId)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                             height="18" viewBox="0 0 24 24" fill="none"
                                                             stroke="red" stroke-width="1" stroke-linecap="round"
                                                             stroke-linejoin="round" class="feather feather-x">
                                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </output>
                        </div>
                        <!-- Note -->
                        <div class="mb-2 text-primary"><strong>Ghi chú</strong></div>
                        <div class="form-group mb-4">
                            <input type="text" class="form-control pro-note" value="@Model.product.Note">
                        </div>
                        <!-- Link -->
                        <div class="mb-2 text-primary"><strong>Link</strong></div>
                        <div class="form-group mb-4">
                            @if (!string.IsNullOrEmpty(Model.product.Link))
                            {
                                <a href="@Model.product.Link" target="_blank">Truy cập</a>
                            }
                            <input type="text" class="form-control pro-link" value="@Model.product.Link">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-secondary discard">Hủy</button>
                    <button type="button" class="btn btn-primary update-product">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // get brand
    $(document).on('change', '.shop_select', function () {
        $.get('/ManageBrand/GetBrandsByShop', { id: $(this).val() })
            .then(function (response) {
                renderBrandForm(response);
            })
            .catch(function (error) {
                alert(error.responseText);
            })
    })
    // get subcategory
    $(document).on('change', '.brand_select', function () {
        $.get('/api/CategoryAPI/getSubCategoryByBrandId', { id: $(this).val() })
            .then(function (response) {
                renderSubCategoryForm(response);
            })
            .catch(function (error) {
                console.log(error)
                alert(error.responseText);
            })
    })
    // get attribute and options
    $(document).on('change', '.sub_select', function () {
        var _id = $(this).val();
        $.get('/api/CategoryAPI/getAttributesBySubCategoryId', { id: _id })
            .then(function (response) {
                renderAttributeForm(response);
            })
            .catch(function (error) {
                console.log(error);
                alert(error.responseText);
            })
        $.get('/api/CategoryAPI/getBaseOptionsBySubCategoryId', { id: _id })
            .then(function (response) {
                renderOptionForm(response);
            })
            .catch(function (error) {
                console.log(error);
                alert(error.responseText);
            })
    })

    // Upload file
    var arrFilesSystem = [];
    $(document).on("change", "#imageProduct-upload", function (event) {
        handleUpload(event, "imageProduct-preview", arrFilesSystem);
        event.target.value = "";
    })
    var arrFilesUser = [];
    $(document).on("change", "#imageUser-upload", function (event) {
        handleUpload(event, "imageUser-preview", arrFilesUser);
        event.target.value = "";
    })
    function handleUpload(event, preview, arr){
        var files = event.target.files;
        var currentFiles = $('.image__upload-item').length + files.length
        if (currentFiles > 10) {
            return;
        }
        var output = document.getElementById(preview);
        for (var i = 0; i < files.length; i++){
            var file = files[i];
            //Only pics
            if (!file.type.match('image'))
                continue;

            arr.push(file);

            var picReader = new FileReader();
            picReader.fileName = file.name;
            picReader.addEventListener("load", function (event) {
                var picFile = event.target;
                var div = document.createElement("div");
                div.classList.add(`image__upload-item`, `mr-2`);
                div.innerHTML = `
                    <div class="border mb-2 mx-auto" style="height: 100px; width: 100px;">
                        <div class="image-wrapper w-100 h-100 position-relative d-flex align-items-center justify-content-center">
                            <img class="mw-100 mh-100" src="${picFile.result}" alt="${picFile.name}">
                            <span class="position-absolute remove-upload"
                                style="right: 0; top: 0; cursor: pointer;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                    height="18" viewBox="0 0 24 24" fill="none"
                                    stroke="red" stroke-width="1" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </span>
                        </div>
                    </div>
                `;
                var removeUpload = div.querySelector(".remove-upload");
                removeUpload.addEventListener("click", function (evt) {
                    arr.forEach(function (file, index) {
                        if (file.name == event.target.fileName) {
                            arr.splice(index, 1);
                        }
                    });
                    div.remove();
                });
                output.insertBefore(div, null);
            });
            //Read the image
            picReader.readAsDataURL(file);
        }
    }
    function getSize(_id) {
        $.get('/api/ProductAPI/GetSizeGuideBySub', { id: _id })
            .then(function (response) {
                renderSize(response);
            })
            .catch(function (error) {
                console.log(error);
            })
    }

    // Discard
    $('.discard').click(function () {
        window.location.reload();
    })

    // Update product
    $('.update-product').click(function () {
        // None relationship data
        var id = @Model.product.ProductId;
        var code = $(".pro-code").val();
        var name = $(".pro-name").val();
        var stock = $(".pro-stock").val();
        var description = tinymce.get("product-desciptions").getContent();
        //var descriptionMobile = tinymce.get("product-desciptions-mobile").getContent();
        var size = tinymce.get("product-sizeguide").getContent();
        var note = $(".pro-note").val();
        var link = $(".pro-link").val();
        var brandId = $("input[name='brand']:checked").val();
        var shopId = $("input[name='shop']:checked").val();
        var subCategoryId = $("input[name='subCategory']:checked").val();
        var isNew = $('.pro-new').is(":checked") ? true : false;
        var isLegit = $('.pro-legit').is(":checked") ? true : false;
        var isHighlight = $('.pro-highlight').is(":checked") ? true : false;
        var isFreeReturn = $('.pro-freereturn').is(":checked") ? true : false;
        var isFreeDelivery = $('.pro-freedelivery').is(":checked") ? true : false;
        var insurance = $(".pro-insurance").val();
        // Relationship data
        var attributes = [];
        $('.attribute-values').each(function (index, item) {
            var attributeId = $(this).attr("id");
            var attribute = {
                id: attributeId,
                value: $(this).val().trim()
            }
            attributes.push(attribute);
        })
        var currentOptions = [];
        var newOptions = [];
        $('.option-values').each(function (index, item) {
            var optionId = $(this).attr("id");
            var newOption = {
                id: optionId,
                values: []
            }
            var values = item.children
            for (var i = 0; i < values.length; i++) {
                if (values[i].firstElementChild.attributes.id) {
                    var id = values[i].firstElementChild.attributes.id.value;
                    currentOptions.push(id);
                } else {
                    var value = values[i].firstElementChild.textContent;
                    newOption.values.push(value.trim());
                }
            }
            newOptions.push(newOption);
        })

        var priceAvailable = {
            price: $(".pro-priceavailable").val(),
            priceOnSell: null,
        } // price type 1
        var pricePreorder = {
            price: $(".pro-pricepreorder").val(),
            priceOnSell: null,
        }  // price type 2
        if ($(".pro-disc-select").is(":checked")) {
            priceAvailable.priceOnSell = $(".pro-discavailable").val() ?? null;
            pricePreorder.priceOnSell = $(".pro-discpreorder").val() ?? null;
        }
        var discountPercent = null;
        if ($(".pro-discpercent-select").is(":checked")) {
            discountPercent = $(".pro-discpercent").val() ?? null;
        }
        console.log(priceAvailable.priceOnSell);
        console.log(pricePreorder.priceOnSell);
        var formData = new FormData();
        // None relationship data
        formData.append('id', id);
        formData.append('code', code);
        formData.append('name', name);
        formData.append('stock', stock);
        formData.append('description', description);
        //formData.append('descriptionMobile', descriptionMobile);
        formData.append('size', size);
        formData.append('note', note);
        formData.append('link', link);
        formData.append('brandId', brandId);
        formData.append('subCategoryId', subCategoryId);
        formData.append('isNew', isNew);
        formData.append('isLegit', isLegit);
        formData.append('isHighlight', isHighlight);
        formData.append('isFreeReturn', isFreeReturn);
        formData.append('isFreeDelivery', isFreeDelivery);
        formData.append('insurance', insurance);
        formData.append('discountPercent', discountPercent);
        formData.append('shopId', shopId);
        // Relationship data
        formData.append('priceAvailable', JSON.stringify(priceAvailable));
        formData.append('pricePreorder', JSON.stringify(pricePreorder));
        formData.append('attributes', JSON.stringify(attributes));
        formData.append('currentOptions', JSON.stringify(currentOptions));
        formData.append('newOptions', JSON.stringify(newOptions));
        for (let i = 0; i < arrFilesSystem.length; i++) {
            formData.append('systemImage', arrFilesSystem[i]);
        };
        for (let i = 0; i < arrFilesUser.length; i++) {
            formData.append('userImage', arrFilesUser[i]);
        };

        $.ajax({
            type: "POST",
            url: "/ManageProduct/UpdateProduct",
            data: formData, //
            processData: false,
            contentType: false,
            success: function (response) {
                alert(response);
                window.location.reload();
            },
            error: function (error) {
                console.log(error);
                alert(error.responseText);
            }
        });
    })
    // Delete Image
    function deleteProductImage(ele, id) {
        if (confirm("Xác nhận xóa ảnh")) {
            //$.post("/ManageProduct/DeleteProductImage", { id: id })
            //    .then(function (response) {
            //        alert(response);

            //        // Remove Image
            //        $(ele).siblings('img').attr('src', '');
            //        // Hide image wrapper
            //        $(ele).parent().parent().parent().remove();
            //    })
            //    .catch(function (error) {
            //        console.log(error);
            //        alert(error.responseText);
            //    })
            PostApi("/ManageProduct/DeleteProductImage", { id: id })
                .then(function (response) {
                    alert(response);

                    // Remove Image
                    $(ele).siblings('img').attr('src', '');
                    // Hide image wrapper
                    $(ele).parent().parent().parent().remove();
                })
        }
    }
    function deleteProductUserImage(ele, id) {
        if (confirm("Xác nhận xóa ảnh")) {
            //$.post("/ManageProduct/DeleteProductUserImage", { id: id })
            //    .then(function (response) {
            //        alert(response);

            //        // Remove Image
            //        $(ele).siblings('img').attr('src', '');
            //        // Hide image wrapper
            //        $(ele).parent().parent().parent().remove();
            //    })
            //    .catch(function (error) {
            //        console.log(error);
            //        alert(error.responseText);
            //    })
            PostApi("/ManageProduct/DeleteProductUserImage", { id: id })
                .then(function (response) {
                    alert(response);

                    // Remove Image
                    $(ele).siblings('img').attr('src', '');
                    // Hide image wrapper
                    $(ele).parent().parent().parent().remove();
                })
        }
    }

    // render data and html
    function renderBrandForm(list) {
        $('.brand-form').empty()
        $('.subcategory-form').empty();
        $('.attribute-form').empty();
        $('.option-form').empty();
        if (list.length) {
            $('.brand-form').append(htmlBrandForm());
            list.forEach(function (item) {
                $('.brand-list').append(htmlBrand(item.brandId, item.brandName));
            })
        }
    }
    function renderSubCategoryForm(list) {
        $('.subcategory-form').empty();
        $('.attribute-form').empty();
        $('.option-form').empty();
        if (list.length) {
            $('.subcategory-form').append(htmlSubCategoryForm());
            list.forEach(function (item) {
                $('.subcate-list').append(htmlSubCategory(item.subCategoryId, item.subCategoryName));
            })
        }
    }
    function renderAttributeForm(list) {
        $('.attribute-form').empty();
        if (list.length) {
            $('.attribute-form').append(htmlAttributeForm());
            list.forEach(function (item) {
                $('.attribute-list').append(htmlAttribute(item));
            })
        }
    }
    function renderOptionForm(list) {
        $('.option-form').empty();
        if (list.length) {
            $('.option-form').append(htmlOptionForm());
            list.forEach(function (item) {
                $('.option-list').append(htmlOption(item));
            })
        }
    }
    function renderSize(data) {
        tinymce.get("product-sizeguide").setContent(data.data.sizeContent);
    }

    // html
    function htmlBrandForm() {
        return `
            <label>Thương hiệu</label>
            <div class="dropdown mb-2 mr-2">
                <button class="btn border dropdown-toggle brand_select-text" type="button" data-toggle="dropdown">
                    Thương hiệu
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu px-2 brand-list" style="max-height: 300px; overflow: auto;">
                    <input class="form-control mb-2" id="myInput" type="text" placeholder="Tìm thương hiệu..." autocomplete="off"/>

                </ul>
            </div>
        `;
    }
    function htmlBrand(id, name) {
        return `
            <li class="d-flex align-items-center">
                <input name="brand" class="mr-2 brand_select" id="brand_${id}" type="radio" value="${id}">
                <label class="mb-0" for="brand_${id}">${name}</label>
            </li>
        `;
    }
    function htmlSubCategoryForm() {
        return `
            <label>Danh mục sản phẩm</label>
            <div class="dropdown mb-2 mr-2">
                <button class="btn border dropdown-toggle subcategory_select-text" type="button" data-toggle="dropdown">
                    Danh mục
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu px-2 subcate-list" style="max-height: 300px; overflow: auto;">
                    <input class="form-control mb-2" id="myInput" type="text" placeholder="Tìm danh mục.." autocomplete="off"/>

                </ul>
            </div>
        `;
    }
    function htmlSubCategory(id, name) {
        return `
            <li class="d-flex align-items-center">
                <input name="subCategory" class="mr-2 sub-category subcategory_select sub_select" id="attr_${id}" type="radio" value="${id}">
                <label class="mb-0" for="attr_${id}">${name}</label>
            </li>
        `;
    }
    function htmlOptionForm() {
        return `
            <div class="text-left mb-2 text-primary"><strong>Thông tin tùy chọn</strong></div>
            <div class="d-flex flex-wrap option-list">

            </div>
        `;
    }
    function htmlAttributeForm() {
        return `
            <div class="text-left mb-2 text-primary"><strong>Thông tin chi tiết</strong></div>
            <div class="d-flex flex-wrap attribute-list">

            </div>
        `;
    }
    function htmlOption(option) {
        var optionVal = '';
        $.ajax({
            url: '/ManageCategory/GetBaseOptionValue',
            type: 'POST',
            data: { id: option.id },
            async: false,
            success: function (data) {
                temp = data;
                data.forEach(item => {
                    optionVal += `
                        <li class="d-inline p-1 mr-2 mb-2"
                            style="background-color: #ddd; border-radius: 4px;">
                            <span class="text" id="${item.id}">${item.value}</span>
                            <span class="remove-tag ml-2" style="cursor: pointer;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    viewBox="0 0 24 24" fill="none" stroke="#333"
                                    stroke-width="1" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </span>
                        </li>
                    `;
                });
            }
        });

        return `
            <div class="form-group mr-4 mb-2">
                <label>${option.name}</label>
                <div class="d-flex mb-2">
                    <div class="dropdown mr-2">
                        <input class="form-control" type="text">
                    </div>
                    <a class="add-option btn btn-primary">Thêm</a>
                </div>
                <ul class="pl-0 option-values" id="${option.id}">
                    ${optionVal}
                </ul>
            </div>
        `;
    }
    function htmlAttribute(attr) {
        return `
            <div class="form-group mr-2">
                <label>${attr.name}</label>
                <input type="text" class="form-control attribute-values" id="${attr.id}">
            </div>
        `;
    }
</script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: '@ConfigConstant.TINY_PLUGINS',
        toolbar: '@ConfigConstant.TINY_TOOLBAR',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>
<script type="text/javascript">
    // Search input with autocomplete
    // Search input with autocomplete
    $(document).on("keyup", "#myInput-sh", function () {
        var value = $(this).val().toLowerCase();
        $(".dropdown-sh-menu li label").filter(function () {
            $(this).siblings("input").toggle($(this).text().toLowerCase().indexOf(value) > -1)
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    })
    $(document).on("keyup", "#myInput-br", function () {
        var value = $(this).val().toLowerCase();
        $(".dropdown-br-menu li label").filter(function () {
            $(this).siblings("input").toggle($(this).text().toLowerCase().indexOf(value) > -1)
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    })
    $(document).on("keyup", "#myInput-sub", function () {
        var value = $(this).val().toLowerCase();
        $(".dropdown-sub-menu li label").filter(function () {
            $(this).siblings("input").toggle($(this).text().toLowerCase().indexOf(value) > -1)
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    })
    $(document).on("keyup", "#myInput-size", function () {
        var value = $(this).val().toLowerCase();
        $(".dropdown-size-menu li label").filter(function () {
            $(this).siblings("input").toggle($(this).text().toLowerCase().indexOf(value) > -1)
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    })
</script>
<script type="text/javascript">
    $('.image-uploaded').change(function () {
        // Set image src
        let src = window.URL.createObjectURL(this.files[0]);
        $(this).siblings('.image-wrapper').children('img').attr('src', src);
        // hide label
        $(this).siblings('label').removeClass('d-flex');
        $(this).siblings('label').addClass('d-none');
        // display image
        $(this).siblings('.image-wrapper').removeClass('d-none');
        $(this).siblings('.image-wrapper').addClass('d-flex');
    })
    //$(document).on('click', '.remove-upload', function(){
    //    // Remove Image
    //    $(this).siblings('img').attr('src', '');
    //    // Hide image wrapper
    //    $(this).parent().removeClass('d-flex');
    //    $(this).parent().addClass('d-none');
    //    // Display label
    //    $(this).parent().siblings('label').removeClass('d-none');
    //    $(this).parent().siblings('label').addClass('d-flex');
    //})
</script>
<script type="text/javascript">
    $(document).on('click', '.add-option', function () {
        let val = $(this).siblings('.dropdown').find('input').val();
        if (!val?.trim()) { return; }

        $(this).parent().siblings('ul').append(`
            <li class="d-inline p-1 mr-2 mb-2"
                style="background-color: #ddd; border-radius: 4px;">
                <span class="text">${val}</span>
                <span class="remove-tag ml-2" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        viewBox="0 0 24 24" fill="none" stroke="#333"
                        stroke-width="1" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </span>
            </li>
        `)

        $(this).siblings('.dropdown').find('input').val('');
    })
    $('.form-check-input').click(function () {
        if (this.previous) {
            this.checked = false;
        }
        this.previous = this.checked;
        if (!this.checked) {
            $(this).siblings('input').addClass('d-none');
        }
    })
    $('.form-check-input').change(function () {
        $('.form-check-input').siblings('input').addClass('d-none');
        if ($(this).is(':checked')) {
            $(this).siblings('input').removeClass('d-none');
        }
    })
</script>
<script type="text/javascript">
    // Remove added banner
    $(document).on('click', ".remove-tag", function () {
        $(this).parent().remove();
    });
</script>
<script>
    $(document).on('click', '.brand_select', function () {
        var brandName = $(this).siblings('label').text();
        $('.brand_select-text').text(brandName);
    })
    $(document).on('click', '.shop_select', function () {
        var brandName = $(this).siblings('label').text();
        $('.shop_select-text').text(brandName);
    })
    $(document).on('click', '.sub_select', function () {
        var subcategoryName = $(this).siblings('label').text();
        $('.subcategory_select-text').text(subcategoryName);
    })
    $(document).on('click', '.size_select', function () {
        var name = $(this).siblings('label').text();
        $('.size_select-text').text(name);
    })
</script>