@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách cửa hàng</h6>
    </div>
    <div class="card-body p-2">
        <div class="table-responsive">
            <table class="table table-bordered order-table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ngày tham gia</th>
                        <th>Shop</th>
                        <th>Số điện thoại</th>
                        <th>Mail</th>
                        <th>Địa chỉ</th>
                        <th>Chủ shop</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shop in Model)
                    {
                        <tr>
                            <td>@shop.ShopJoinDate.ToString("dd/MM/yyyy")</td>
                            <td>@shop.ShopName</td>
                            <td>@shop.ShopPhoneNumber</td>
                            <td>@shop.ShopMail</td>
                            <td class="address">@shop.ShopAddress|@shop.ShopWardCode|@shop.ShopDistrictCode|@shop.ShopCityCode</td>
                            <td>@shop.UserName</td>
                            <td>
                                @if (shop.Status == 0)
                                {
                                    <p class="text-danger">Đã khóa</p>
                                }
                                @if (shop.Status == 1)
                                {
                                    <p class="text-success">Đã xác thực</p>
                                }
                            </td>
                            <td class="d-flex">
                                <a href="@Url.Action("ShopDetail", "ManageShop", new { ShopId = shop.ShopId })">Chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('.address').each(function () {
        let address = $(this).text().split('|')[0];
        let ward = $(this).text().split('|')[1];
        let district = $(this).text().split('|')[2];
        let city = $(this).text().split('|')[3];
        var ele = $(this);

        $.get("/js/json/provinces-open-api.json", function (data) {
            // Cities
            data.forEach(c => {
                if (city == c.codename) {
                    c.districts.forEach(d => {
                        if (district == d.codename) {
                            d.wards.forEach(w => {
                                if (ward == w.codename) {
                                    address += ', ' + w.name + ', ' + d.name + ', ' + c.name;
                                    ele.text(address);
                                    return;
                                }
                            })
                        }
                    })
                }
            });
        })
    })
</script>