@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="custom-container">
    <!-- Bran list slider -->
    <div class="bran__logo-list">
        <div class="text-center">
            <div class="line my-4"></div>
            <h3 class="home-title mx-auto">Thương hiệu nổi bật</h3>
        </div>

        <div class="autoplay d-flex">
            @foreach (var item in Model)
            {
                if (item.Highlights == true)
                {
                    <a class="bran__logo p-4" href="products.html">
                        <img src="@Configuration["ImagePath:Brand"]@item.BrandImagePath" alt="">
                    </a>
                }
            }
        </div>

        <div class="w-100 text-center d-block">
            <a class="bran__viewmore d-inline-block" href="products.html">Xem thêm</a>
        </div>
    </div>
    <!-- Bran list -->
    <div class="content__wrapper">
        <div class="w-100 my-4 p-4">
            <div class="d-flex align-items-center flex-wrap">
                <!-- Sort Bran by Alphabet -->
                <div class="bran__filter d-flex align-items-center">
                    <h3 class="mb-0">Hiển thị theo bởi</h3>
                    <div class="order__item-wrapper order__button">
                        <div class="order__item-dropdown">
                            A, B, C, D, E<svg xmlns="http://www.w3.org/2000/svg"
                                              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#333"
                                              stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                              class="feather feather-chevron-down svg-order">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                        <div class="order__item-dropdown_menu">
                            <div class="order__item-dropdown_items">
                                <a class="order__item d-none">
                                    A, B, C, D, E<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                      viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                      stroke-linecap='round' stroke-linejoin='round'
                                                      class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item">
                                    F, G, H, I, J<svg xmlns='http://www.w3.org/2000/svg'
                                                      width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                      stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                      class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item">
                                    K, L, M, N, O<svg xmlns='http://www.w3.org/2000/svg'
                                                      width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                      stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                      class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item">
                                    P, Q, R, S, T<svg xmlns='http://www.w3.org/2000/svg'
                                                      width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                      stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                      class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item">
                                    U, V, W, X, Y, Z<svg xmlns='http://www.w3.org/2000/svg'
                                                         width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                         stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                         class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item">
                                    Tất cả<svg xmlns='http://www.w3.org/2000/svg' width='24'
                                               height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                               stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                               class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="bran__filter d-flex align-items-center">
                    <h3 class="mb-0">Danh mục</h3>
                    <div class="order__item-wrapper order__button">
                        <div class="order__item-dropdown">
                            Tất cả<svg xmlns="http://www.w3.org/2000/svg"
                                       width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#333"
                                       stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                       class="feather feather-chevron-down svg-order">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                        <div class="order__item-dropdown_menu">
                            <div class="order__item-dropdown_items">
                                <a class="order__item d-none">
                                    Tất cả<svg xmlns='http://www.w3.org/2000/svg'
                                               width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                               stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                               class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item">
                                    Điện thoại di động<svg xmlns='http://www.w3.org/2000/svg'
                                                           width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                           stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                           class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item">
                                    Phụ kiện và trang sức<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                              viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                              stroke-linecap='round' stroke-linejoin='round'
                                                              class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item">
                                    Hãng hàng không<svg xmlns='http://www.w3.org/2000/svg'
                                                        width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                        stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                        class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item">
                                    Điện thoại<svg xmlns='http://www.w3.org/2000/svg'
                                                   width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                   stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                   class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="bran__list-line my-4"></div>
            <!-- Bran list content -->
            <div class="bran__list-items">
                <h4>A</h4>
                <div class="d-flex flex-wrap">
                    @foreach (var item in Model)
                    {
                        <div class="bran__list-item card">
                            <a href="">
                                <div class="bran__list-img py-2 px-4">
                                    <img src="@Configuration["ImagePath:Brand"]@item.BrandImagePath" class="card-img-top" alt="@item.BrandName">
                                </div>
                                <div class="card-body text-center p-2 align-items-center justify-content-center">
                                    <h5 class="bran__list-name card-title mb-0">@item.BrandName</h5>
                                    <h6 class="bran__list-type card-text">@item.Category</h6>
                                </div>
                            </a>
                        </div>
                    }
                    <div class="w-100 text-center d-block">
                        <a class="bran__viewmore d-inline-block" href="">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    //Call EmpDetails jsonResult Method
    //    $.get("api/Brand/getAll", function (data, status) {
    //        //Append each row to html table
    //        console.log(data.data)
    //    });
    //});
</script>
