@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
    <!-- Main contain -->
<div class="custom-container">
    <div class="content__wrapper products__content-wrapper">
        <div class="content__inner w-100">
            <ul class="web__directional">
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("ProductNewest","Product")">Sản phẩm mới</a></li>
            </ul>
            <div class="products__content d-flex">
                <div class="products__list w-100">
                    <div class="filter__control-top">
                        <!-- Dropdown order list-->
                        <div class="order__item-wrapper order__button">
                            <div class="order__item-dropdown">
                                Tất cả
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1"
                                     stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-chevron-down svg-order">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </div>
                            <div class="order__item-dropdown_menu">
                                <div class="order__item-dropdown_items">
                                    <a class="order__item d-none" onclick="getAllProduct()">
                                        Tất cả<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                   viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                   stroke-linecap='round' stroke-linejoin='round'
                                                   class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item orderby-discount">
                                        Đang giảm giá<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                         viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                         stroke-linecap='round' stroke-linejoin='round'
                                                         class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item orderby-ascending">
                                        Giá thấp - cao<svg xmlns='http://www.w3.org/2000/svg'
                                                           width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                           stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                           class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item orderby-descending">
                                        Giá cao - thấp<svg xmlns='http://www.w3.org/2000/svg'
                                                           width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                           stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                           class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Number / total -->
                        <div class="filter__number">
                            <div class="text">Hiển thị: </div>
                            <div class="number">
                                <span>@Model.listProduct.CurrentRecord</span>
                                /
                                <span class="totalItems">@Model.listProduct.TotalRecord</span>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="filter__pagination">
                            <ul class="pagination">
                                @{
                                    var firstIndex = 1;
                                    var lastIndex = Model.listProduct.TotalPage;
                                    var currentIndex = Model.listProduct.CurrentPage;
                                    var prevIndex = currentIndex - 1;
                                    var nextIndex = currentIndex + 1;
                                }
                                @if (Model.listProduct.TotalPage == 2)
                                {
                                    @if (currentIndex == 1)
                                    {
                                        <li value="1" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">1</a>
                                        </li>
                                        <li value="2" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">2</a>
                                        </li>
                                        <li value="1" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                    @if (currentIndex == 2)
                                    {
                                        <li value="2" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="1" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">1</a>
                                        </li>
                                        <li value="2" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">2</a>
                                        </li>
                                    }
                                }
                                @if (Model.listProduct.TotalPage > 2)
                                {
                                    if (currentIndex == firstIndex)
                                    {
                                        <li value="@currentIndex" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@currentIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@nextIndex</a>
                                        </li>
                                        <li value="@(nextIndex+1)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(nextIndex+1)</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                    else if (currentIndex == lastIndex)
                                    {
                                        <li value="@(lastIndex - 1)" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="@(lastIndex - 2)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(lastIndex - 2)</a>
                                        </li>
                                        <li value="@(lastIndex - 1)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(lastIndex - 1)</a>
                                        </li>
                                        <li class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@lastIndex</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li value="@prevIndex" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="@prevIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@prevIndex</a>
                                        </li>
                                        <li class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@currentIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@nextIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Products -->
                    <div class="product__grid-wrapper">
                        @if (Model.listProduct.Items.Count > 0)
                        {
                            <div class="product__grid-inner w-100 d-flex flex-wrap">
                                @foreach (var product in Model.listProduct.Items)
                                {
                                    <div class="product product-4">
                                        <a class="product-img" href="@Url.Action("ProductDetail", "Product", new { ProductId = product.ProductId })">
                                            <img src="@(Configuration["ImagePath:Product"] + product.ProductImages)" alt="">
                                        </a>
                                        <div class="product-label d-flex justify-content-end align-items-center w-100" style="background-color: #fff; padding: 3px 0;">
                                            @if (product.DiscountPercent != null)
                                            {
                                                <span class="label-sales">-@product.DiscountPercent%</span>
                                            }
                                            @if (product.New == true)
                                            {
                                                <span class="label-new">Mới</span>
                                            }
                                            @if (product.Highlights == true)
                                            {
                                                <span class="label-hot">Hot</span>
                                            }

                                            <!--Add to wishlist-->
                                            <a class="product-heart" style="cursor: pointer;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="#333"
                                                     stroke-width="1" stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="add-to-wishlist feather feather-heart">
                                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>
                                        <hr style="width: 50%; margin: 0 auto;">
                                        <div class="product__info">
                                            <div class="product__info-detail text-center">
                                                <div class="product-brand align-items-center">
                                                    @product.ShopName
                                                </div>
                                                <div class="product-name mb-0">
                                                    @product.ProductName
                                                </div>
                                                @if (product.ProductImportDate != null)
                                                {
                                                    <div class="product-name">
                                                        Tạm hết đến @product.ProductImportDate.ToString("dd/MM/yyyy")
                                                    </div>
                                                }
                                                @if (product.ProductImportDate == null)
                                                {
                                                    <div class="product-name">
                                                        (@product.ProductTypeName)
                                                    </div>
                                                }

                                                @if (product.PriceOnSell == null)
                                                {
                                                    <div class="product-subprice" style="visibility: hidden">@String.Format("{0:0,0} ₫", product.Price)</div>
                                                    <div class="product-price">@String.Format("{0:0,0} ₫", product.Price)</div>
                                                }
                                                else
                                                {
                                                    <div class="product-subprice">@String.Format("{0:0,0} ₫", product.PriceOnSell)</div>
                                                    <div class="product-price">@String.Format("{0:0,0} ₫", product.Price)</div>
                                                }

                                                <div class="product-btn">
                                                    <a href="@Url.Action("ProductDetail", "Product", new { ProductId = product.ProductId })">Xem nhanh</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.listProduct.Items.Count == 0)
                        {
                            <p class="text-center">Chưa có sản phẩm</p>
                        }
                    </div>
                    <div class="filter__control-bottom">
                        <!-- Number / total -->
                        <div class="filter__number">
                            <div class="text">Hiển thị: </div>
                            <div class="number">
                                <span>@Model.listProduct.CurrentRecord</span>
                                /
                                <span class="totalItems">@Model.listProduct.TotalRecord</span>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="filter__pagination">
                            <ul class="pagination">
                                @if (Model.listProduct.TotalPage == 2)
                                {
                                    @if (currentIndex == 1)
                                    {
                                        <li value="1" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">1</a>
                                        </li>
                                        <li value="2" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">2</a>
                                        </li>
                                        <li value="1" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                    @if (currentIndex == 2)
                                    {
                                        <li value="2" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="1" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">1</a>
                                        </li>
                                        <li value="2" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">2</a>
                                        </li>
                                    }
                                }
                                @if (Model.listProduct.TotalPage > 2)
                                {
                                    if (currentIndex == firstIndex)
                                    {
                                        <li value="@currentIndex" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@currentIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@nextIndex</a>
                                        </li>
                                        <li value="@(nextIndex+1)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(nextIndex+1)</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                    else if (currentIndex == lastIndex)
                                    {
                                        <li value="@(lastIndex - 1)" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="@(lastIndex - 2)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(lastIndex - 2)</a>
                                        </li>
                                        <li value="@(lastIndex - 1)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(lastIndex - 1)</a>
                                        </li>
                                        <li class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@lastIndex</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li value="@prevIndex" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="@prevIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@prevIndex</a>
                                        </li>
                                        <li class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@currentIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@nextIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Global request variables
    var orderRequest = '';

    // Events
    $(document).on('click', '.pagination-item', function () {
        var pageIndex = parseInt($(this).attr("value"));
        if ($(this).hasClass('active')) {
            return;
        }
        
        // Current Order
        if (orderRequest != '') {
            orderBy(orderRequest, pageIndex); return;
        }
        if (orderRequest == '') {
            // params request
            var request = {
                GetBy: "Newest",
                PageIndex: pageIndex,
            }

            // call api
            apiGetProduct(request); return;
        }
    })

    $('.orderby-discount').click(function () {
        var order = "Discount";
        orderBy(order, 1);
        orderRequest = order;
    });
    $('.orderby-ascending').click(function () {
        var order = "Ascending";
        orderBy(order, 1);
        orderRequest = order;
    });
    $('.orderby-descending').click(function () {
        var order = "Descending";
        orderBy(order, 1);
        orderRequest = order;
    });

    // Call API functions
    function getAllProduct() {
        // params request
        var request = {
            GetBy: "Newest",
            PageIndex: 1,
        }

        // call api
        apiGetProduct(request);
        orderRequest = '';
    }
    function orderBy(order, pageIndex) {
        // params request
        var request = {
            GetBy: "Newest",
            PageIndex: pageIndex,
            OrderBy: order
        }

        // call api
        apiGetProduct(request);
    }

    // API methods
    function apiGetProduct(request) {
        $.ajax({
            url: '/api/ProductAPI/getProductInPage',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                // data response
                var currentRecord = data.data.listProduct.currentRecord;
                var totalRecord = data.data.listProduct.totalRecord;
                var listProduct = data.data.listProduct.items;
                var totalPage = data.data.listProduct.totalPage;

                console.log(data.data);

                // Render html with received data
                renderCurrentRecord(currentRecord, totalRecord);
                renderPagination(totalPage, request.PageIndex);
                renderProduct(listProduct);
            }
        });
    }

    // Render product
    function renderProduct(listProduct) {
        $('.product__grid-inner').empty();
        if (listProduct.length > 0) {
            listProduct.forEach(product => {
                var html = htmlProduct(
                    product.productId,
                    product.productImages,
                    product.discountPercent,
                    product.new,
                    product.highlights,
                    product.shopName,
                    product.productName,
                    product.productImportDate,
                    product.productTypeName,
                    product.price,
                    product.priceOnSell,
                );
                $('.product__grid-inner').append(html);
            })
            return;
        }
        $('.product__grid-inner').append(`
            <p class="text-center">Chưa có sản phẩm</p>
        `);
    }
    // Render current product/total
    function renderCurrentRecord(currentRecord, totalRecord) {
        $('.filter__number .number').empty();
        $('.filter__number .number').append(htmlCurrentRecord(currentRecord, totalRecord));
    }
    // Render pagination
    function renderPagination(pagesize, pageindex) {
        var firstIndex = 1;
        var lastIndex = pagesize;
        var currentIndex = pageindex;
        var prevIndex = 0;
        var nextIndex = 0;
        if (pageindex > 1) {
            prevIndex = currentIndex - 1;
            nextIndex = currentIndex + 1;
        }

        $('.pagination').empty();
        if (pagesize == 2) {
            if (currentIndex == 1) {
                $('.pagination').append(htmlPagination2AtFirstIndex());
                return;
            }
            if (currentIndex == 2) {
                $('.pagination').append(htmlPagination2AtSecondIndex());
                return;
            }
        }

        if (pagesize > 2) {
            if (currentIndex == firstIndex) {
                $('.pagination').append(htmlPaginationAtFirstIndex())
                return;
            } else if (currentIndex == lastIndex) {
                $('.pagination').append(htmlPaginationAtLastIndex(lastIndex))
                return;
            } else {
                $('.pagination').append(htmlPagination(prevIndex, currentIndex, nextIndex))
                return;
            }
        }

        return;
    }

    // Html product
    function htmlProduct(
        id,
        image,
        discountPercent,
        newProduct,
        highlights,
        shop,
        name,
        importDate,
        type,
        price,
        priceOnSell,
    ) {
        var htmlDiscountPercent = ``;
        if (discountPercent !== null) {
            htmlDiscountPercent = `
                <span class="label-sales">-${discountPercent}%</span>
            `;
        }
        var htmlNew = ``;
        if (newProduct == true) {
            htmlNew = `
                <span class="label-new">Mới</span>
            `;
        }
        var htmlHighlights = ``;
        if (highlights == true) {
            htmlHighlights = `
                <span class="label-new">Hot</span>
            `;
        }
        var htmlImportDate = ``;
        var date = new Date(importDate);
        if (importDate !== null) {
            htmlImportDate = `
                <div class="product-name">
                    Tạm hết đến ${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}
                </div>
            `;
        } else {
            htmlImportDate = `
                <div class="product-name">
                    ${type}
                </div>
            `;
        }
        var htmlPrice = ``;
        if (priceOnSell == null) {
            htmlPrice = `
                <div class="product-subprice" style="visibility: hidden;">${(price).toLocaleString()} ₫</div>
                <div class="product-price">${(price).toLocaleString()} ₫</div>
            `;
        }
        else {
            htmlPrice = `
                <div class="product-subprice">${(priceOnSell).toLocaleString()} ₫</div>
                <div class="product-price">${(price).toLocaleString()} ₫</div>
            `;
        }

        var html = `
            <div class="product product-4">
                <a class="product-img" href="/Product/ProductDetail?ProductId=${id}">
                    <img src="@Configuration["ImagePath:Product"]${image}" alt="">
                </a>
                <div class="product-label d-flex justify-content-end align-items-center w-100" style="background-color: #fff; padding: 3px 0;">
                    ${htmlDiscountPercent}
                    ${htmlNew}
                    ${htmlHighlights}

                    <!--Add to wishlist-->
                    <a class="product-heart" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="#333"
                                stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="add-to-wishlist feather feather-heart">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                            </path>
                        </svg>
                    </a>
                </div>
                <hr style="width: 50%; margin: 0 auto;">
                <div class="product__info">
                    <div class="product__info-detail text-center">
                        <div class="product-brand align-items-center">
                            ${shop}
                        </div>
                        <div class="product-name mb-0">
                            ${name}
                        </div>
                        ${htmlImportDate}
                        ${htmlPrice}
                        <div class="product-btn">
                            <a href="/Product/ProductDetail?ProductId=${id}">Xem nhanh</a>
                        </div>
                    </div>
                </div>
            </div>
        `;
        return html;
    }
    // Html current record
    function htmlCurrentRecord(currentRecord, totalRecord){
        var html = `
            <span>${currentRecord}</span>
            /
            <span class="totalItems">${totalRecord}</span>
        `
        return html;
    }
    // Html pagination
    function htmlPagination2AtFirstIndex() {
        var html = `
            <li value="1" class="pagination-item pagination-item__page active">
                <a class="pagination-link">1</a>
            </li>
            <li value="2" class="pagination-item pagination-item__page">
                <a class="pagination-link">2</a>
            </li>
            <li value="2" class="pagination-item pagination-item__page next">
                <a class="pagination-link" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-right'>
                        <polyline points='9 18 15 12 9 6'></polyline>
                    </svg>
                </a>
            </li>
        `;
        return html;
    }
    function htmlPagination2AtSecondIndex() {
        var html = `
            <li value="1" class="pagination-item pagination-item__page previous">
                <a class="pagination-link pagination-item__page" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-left'>
                        <polyline points='15 18 9 12 15 6'></polyline>
                    </svg>
                </a>
            </li>
            <li value="1" class="pagination-item pagination-item__page">
                <a class="pagination-link">1</a>
            </li>
            <li class="pagination-item pagination-item__page active">
                <a class="pagination-link">2</a>
            </li>
        `
        return html;
    }

    function htmlPaginationAtFirstIndex() {
        var html = `
            <li value="1" class="pagination-item pagination-item__page active">
                <a class="pagination-link">1</a>
            </li>
            <li value="2" class="pagination-item pagination-item__page">
                <a class="pagination-link">2</a>
            </li>
            <li value="3" class="pagination-item pagination-item__page">
                <a class="pagination-link">3</a>
            </li>
            <li value="2" class="pagination-item pagination-item__page next">
                <a class="pagination-link" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-right'>
                        <polyline points='9 18 15 12 9 6'></polyline>
                    </svg>
                </a>
            </li>
        `
        return html;
    }
    function htmlPagination(prevIndex, currentIndex, nextIndex) {
        var html = `
            <li value="${prevIndex}" class="pagination-item pagination-item__page previous">
                <a class="pagination-link pagination-item__page" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-left'>
                        <polyline points='15 18 9 12 15 6'></polyline>
                    </svg>
                </a>
            </li>
            <li value="${prevIndex}" class="pagination-item pagination-item__page">
                <a class="pagination-link">${prevIndex}</a>
            </li>
            <li class="pagination-item pagination-item__page active">
                <a class="pagination-link">${currentIndex}</a>
            </li>
            <li value="${nextIndex}" class="pagination-item pagination-item__page">
                <a class="pagination-link">${nextIndex}</a>
            </li>
            <li value="${nextIndex}" class="pagination-item pagination-item__page next">
                <a class="pagination-link" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-right'>
                        <polyline points='9 18 15 12 9 6'></polyline>
                    </svg>
                </a>
            </li>
        `
        return html;
    }
    function htmlPaginationAtLastIndex(lastIndex) {
        var html = `
            <li value="${lastIndex - 1}" class="pagination-item pagination-item__page previous">
                <a class="pagination-link pagination-item__page" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-left'>
                        <polyline points='15 18 9 12 15 6'></polyline>
                    </svg>
                </a>
            </li>
            <li value="${lastIndex - 2}" class="pagination-item pagination-item__page">
                <a class="pagination-link">${lastIndex - 2}</a>
            </li>
            <li value="${lastIndex - 1}" class="pagination-item pagination-item__page">
                <a class="pagination-link">${lastIndex - 1}</a>
            </li>
            <li class="pagination-item pagination-item__page active">
                <a class="pagination-link">${lastIndex}</a>
            </li>
        `
        return html;
    }
</script>